@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}


.body {
    display: flex;
    flex-direction: column;
    padding: 20px 200px 100px 200px;
    color: white;
    background-color: #1f2937;
}

.header {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

#logo {
    font-weight: 900;
    font-size: 24px;
}

.header a {
    text-decoration: none;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-left {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero-right {
    flex: 1 1 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#tagline {
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;
}

.hero img {
    width: 400px;
}

button {
    background-color: #3882f6;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-weight: 900;
    margin-top: 10px;
}

.featured{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#featured-header{
    font-family: Roboto, sans-serif;
    font-size: 36px;
    padding: 50px;
    font-weight: bolder;
    color: #1f2937;
}

.thumbnails{
    display: flex;
    padding: 0 400px;
    justify-content: space-between;
}

.card{
    display: flex;
    flex-direction: column;
    flex-basis: 170px;
    flex-wrap: wrap;
}

.card .text{
    margin-top: 5px;
    text-align: center;
}

.thumbnail{
    width: 170px;
    height: 170px;
    border: solid #3882f6 ;
    border-radius: 15px;
}